In [ ]:
#class Contact:
#    def __init__(self,이수구분,영역,세부영역,교과목번호,교과목명,학점,keyword):
#        self.이수구분=이수구분
#        self.영역=영역
#        self.세부영역=세부영역
#        self.교과목번호 = 교과목번호
#        self.교과목명 = 교과목명
#        self.학점 = 학점
#        self.keyword=keyword
#
#    def
#

In [23]:
import os
import numpy as np
import pandas as pd
from IPython import display

pd.options.display.max_rows = 999 # 데이터 프레임 표시 최대 열수를 999로 지정
pd.set_option('display.max_columns', 999) # 데이터 프레임 표시 최대 행수를 999로 지정

In [15]:
# get excel data to dataframe
file_name = '2021_1_Lecture.xlsx'
df = pd.read_excel(file_name,dtype=str)

In [16]:
result=pd.DataFrame(df, columns=['학년','이수구분','과목코드','과목명','학점','성적부여'])

In [17]:
result

     학년  이수구분     과목코드         과목명   학점      성적부여
0   NaN   NaN      NaN         NaN  NaN       NaN
1   1학년  전공필수  5110001      창의공학설계    2     Grade
2   1학년  전공선택  5110051     컴퓨터공학개론    3     Grade
3   1학년  전공필수  5110122      미래설계탐색    1  PassFail
4   2학년  전공필수  5110005        이산수학    3     Grade
5   2학년  전공선택  5110007  C/C++프로그래밍    3     Grade
6   2학년  전공선택  5110047       데이터통신    3     Grade
7   2학년  전공선택  5110054        자료구조    3     Grade
8   2학년  전공필수  5110121      미래설계구현    1  PassFail
9   2학년  전공선택  5110124     전자회로및설계    3     Grade
10  2학년  전공선택  5110125  오픈소스기초프로젝트    2     Grade
11  2학년  전공선택  5110146  고급컴퓨터프로그래밍    3     Grade
12  2학년  전공선택  5110147        논리회로    3     Grade
13  3학년  전공필수  5110011       컴퓨터구조    3     Grade
14  3학년  전공필수  5110016        운영체제    3     Grade
15  3학년  전공필수  5110018    프로그래밍언어론    3     Grade
16  3학년  전공선택  5110068    인터넷프로그래밍    3     Grade
17  3학년  전공선택  5110099        알고리즘    3     Grade
18  3학년  전공선택  5110109        응용수학    3     Grade
19  3학년  전공필수  5110130        창업기획    1  PassFail
20  3학년  전공선택  5110132  오픈소스전문프로젝트    2     Grade
21  4학년  전공선택  5100012  창업산학초청세미나Ⅰ    1     Grade
22  4학년  전공선택  5110034       컴퓨터비전    3     Grade
23  4학년  전공선택  5110089    분산컴퓨팅시스템    3     Grade
24  4학년  전공선택  5110106     소프트웨어공학    3     Grade
25  4학년  전공필수  5110135      캡스톤디자인    2     Grade
26  4학년  전공선택  5110136        머신러닝    3     Grade
27  4학년  전공선택  5110137    사이버물리시스템    3     Grade
28  4학년  전공선택  5110138   소프트웨어실전영어    2     Grade
29  4학년  전공선택  5110155        인공지능    3     Grade
30  4학년  전공선택  5110156        정보보호    3     Grade
31  4학년  전공선택  5110157      산학프로젝트    3     Grade

In [18]:
rusult=pd.DataFrame(df, columns=['과목코드'])

In [25]:
rusult

       과목코드
0       NaN
1   5110001
2   5110051
3   5110122
4   5110005
5   5110007
6   5110047
7   5110054
8   5110121
9   5110124
10  5110125
11  5110146
12  5110147
13  5110011
14  5110016
15  5110018
16  5110068
17  5110099
18  5110109
19  5110130
20  5110132
21  5100012
22  5110034
23  5110089
24  5110106
25  5110135
26  5110136
27  5110137
28  5110138
29  5110155
30  5110156
31  5110157

In [28]:
rusult.isin(['5110157'])

     과목코드
0   False
1   False
2   False
3   False
4   False
5   False
6   False
7   False
8   False
9   False
10  False
11  False
12  False
13  False
14  False
15  False
16  False
17  False
18  False
19  False
20  False
21  False
22  False
23  False
24  False
25  False
26  False
27  False
28  False
29  False
30  False
31   True

       과목코드
0       NaN
1   5110001
2   5110051
3   5110122
4   5110005
5   5110007
6   5110047
7   5110054
8   5110121
9   5110124
10  5110125
11  5110146
12  5110147
13  5110011
14  5110016
15  5110018
16  5110068
17  5110099
18  5110109
19  5110130
20  5110132
21  5100012
22  5110034
23  5110089
24  5110106
25  5110135
26  5110136
27  5110137
28  5110138
29  5110155
30  5110156
31  5110157

In [9]:
rresult=result.values.tolist()

In [10]:
rresult

[[nan, nan, nan, nan, nan, nan],
 ['1학년', '전공필수', 5110001.0, '창의공학설계', 2.0, 'Grade'],
 ['1학년', '전공선택', 5110051.0, '컴퓨터공학개론', 3.0, 'Grade'],
 ['1학년', '전공필수', 5110122.0, '미래설계탐색', 1.0, 'PassFail'],
 ['2학년', '전공필수', 5110005.0, '이산수학', 3.0, 'Grade'],
 ['2학년', '전공선택', 5110007.0, 'C/C++프로그래밍', 3.0, 'Grade'],
 ['2학년', '전공선택', 5110047.0, '데이터통신', 3.0, 'Grade'],
 ['2학년', '전공선택', 5110054.0, '자료구조', 3.0, 'Grade'],
 ['2학년', '전공필수', 5110121.0, '미래설계구현', 1.0, 'PassFail'],
 ['2학년', '전공선택', 5110124.0, '전자회로및설계', 3.0, 'Grade'],
 ['2학년', '전공선택', 5110125.0, '오픈소스기초프로젝트', 2.0, 'Grade'],
 ['2학년', '전공선택', 5110146.0, '고급컴퓨터프로그래밍', 3.0, 'Grade'],
 ['2학년', '전공선택', 5110147.0, '논리회로', 3.0, 'Grade'],
 ['3학년', '전공필수', 5110011.0, '컴퓨터구조', 3.0, 'Grade'],
 ['3학년', '전공필수', 5110016.0, '운영체제', 3.0, 'Grade'],
 ['3학년', '전공필수', 5110018.0, '프로그래밍언어론', 3.0, 'Grade'],
 ['3학년', '전공선택', 5110068.0, '인터넷프로그래밍', 3.0, 'Grade'],
 ['3학년', '전공선택', 5110099.0, '알고리즘', 3.0, 'Grade'],
 ['3학년', '전공선택', 5110109.0, '응용수학', 3.0, 'Grade'],
 ['3학년', '전공필수', 5110130.0, '창업기획', 1.0, 'PassFail'],
 ['3학년', '전공선택', 5110132.0, '오픈소스전문프로젝트', 2.0, 'Grade'],
 ['4학년', '전공선택', 5100012.0, '창업산학초청세미나Ⅰ', 1.0, 'Grade'],
 ['4학년', '전공선택', 5110034.0, '컴퓨터비전', 3.0, 'Grade'],
 ['4학년', '전공선택', 5110089.0, '분산컴퓨팅시스템', 3.0, 'Grade'],
 ['4학년', '전공선택', 5110106.0, '소프트웨어공학', 3.0, 'Grade'],
 ['4학년', '전공필수', 5110135.0, '캡스톤디자인', 2.0, 'Grade'],
 ['4학년', '전공선택', 5110136.0, '머신러닝', 3.0, 'Grade'],
 ['4학년', '전공선택', 5110137.0, '사이버물리시스템', 3.0, 'Grade'],
 ['4학년', '전공선택', 5110138.0, '소프트웨어실전영어', 2.0, 'Grade'],
 ['4학년', '전공선택', 5110155.0, '인공지능', 3.0, 'Grade'],
 ['4학년', '전공선택', 5110156.0, '정보보호', 3.0, 'Grade'],
 ['4학년', '전공선택', 5110157.0, '산학프로젝트', 3.0, 'Grade']]